<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Site on Maintenance</title>
    </head>

    <body>
        <h1>We will back soon!</h1>
        <p>The site is currently being uptadted.</p>
    </body>

</html>